
body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

@font-face {
    font-family: metal;
    src: url(./images/Metal\ Mania.ttf);
}


nav{
    border: 2px solid rgb(101, 230, 118);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(101,230,118,1), rgb(0, 255, 183) 100%);
}

nav h1{
    font-family: metal;
    font-size: 35px;
}

.task-input{
    /* border: 2px solid black; */
    max-width: 90vw;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
}



.task-input input{
    width: 20%;
    height: 30px;
    border: 2px solid #dedede;
    border-radius: 5px;
}

.task-input :nth-child(2){
    width: 50%;
}

.task-input button{
    width: 7%;
    height: 35px;
    border: 2px solid #dedede;
    border-radius: 5px;
    background-color: rgb(101, 230, 118);
    color: white;
    font-weight: bold;
}
.task-input button:hover{
    color: black;
    background-color: white;
    border-color: rgb(101, 230, 118);
}





.filter-buttons{
    /* border: 2px solid rgb(101, 230, 118); */
    width :90vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    flex-wrap: wrap;


}

.filter-buttons button{
    background-color: rgb(101, 230, 118);
    border: 2px solid #eceaea;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    
}
.filter-buttons button:hover{
    background-color: white;
    border-color: rgb(101, 230, 118);
}
.filter-buttons button:focus{
    background-color: white;
    border-color: rgb(101, 230, 118);
    outline: none;
}



.container{
    /* border: 2px solid rgb(101, 230, 118); */
    width: 90vw;
    margin: 10px auto;
    
}

.container #current-tasks{
    /* border:2px solid black; */
    display: flex;
    flex-wrap: wrap;

}

.container #current-tasks .task{
    border: 2px solid rgb(101, 230, 118);
    width: 100%;
    height: 50px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.task h3{
    text-align: center;
    background-color: rgb(101, 230, 118);
    color: white;
    margin: 0 4px;
    padding: 5px;
    border-radius: 5px;
    font-family: system-ui;
    width: 15%;
    height: 33px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container #current-tasks .completed-task{
    text-decoration: line-through;
    border: 2px solid #dedede;
}

.task p{
    font-family: system-ui;
    /* border: 1px solid black; */
}
.task p:focus{
    outline: none;
}

.task :nth-child(2){
    /* max-width: 60%; */
    width: 60%;
    height: 20px;
    align-items: center;
    /* border: 2px solid red; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.task :nth-child(2)::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.task :nth-child(2) {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.task :nth-child(3){
    width: 10%;
    /* border: 2px solid red; */
    height: 20px;
}


.task .task-checkbox{
    scale: 2;
    background-color: white;
    accent-color: rgb(101, 230, 118);
    cursor: pointer;
}




.task button{
    background-color: rgb(101, 230, 118);
    border: 2px solid rgb(101, 230, 118);
    width: 50px;
    height: 50px;
    
}

.task button:hover{
    background-color: white;
    border: none;
    border-radius: 0 7px 7px 0;
    border-left: 2px solid rgb(101, 230, 118);
}


.task button .static-delete-icon{
    position: absolute;
    width: 25px;
    height: 25px;
}

.task button .animated-delete-icon{
    opacity: 0;
    width: 25px;
    height: 25px;
}

.task button:hover .static-delete-icon{
    opacity: 0;
}
.task button:hover .animated-delete-icon{
    opacity: 1;
}



/* //////////////////////////  Media Queries  ////////////////////////// */


@media  screen and (max-width: 700px){
    .task-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        
    }
    .task-input input{
        width: 90%;
        height: 30px;
        margin: 10px 0;
    }
    .task-input :nth-child(2){
        width: 90%;
    }
    .task-input button{
        width: 90%;
        height: 35px;
        margin: 10px 0;
    }
    .filter-buttons div{
        display: flex;
        flex-wrap: wrap;
    }


    .container #current-tasks .task{
        flex-direction: column;
        width: 100%;
        height: 250px;
        justify-content: left;
        align-items: flex-start;
        position: relative;

    }
    .task h3{
        width: 98.5%;
        height: 60px;
        margin: 0;
    }
    .task :nth-child(2){
        width: 96%;
        height: 180px;
        padding: 0 8px;
        margin: 5px 0;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: normal;
    }
    .task :nth-child(3){
        width: 98%;
        margin: 20px;
    }
    .task .task-checkbox{
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .task button{
        position: absolute;
        top : 77%;
        right: 5px;
        border-radius: 7px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .task button:hover{
        border-radius: 7px;
        border: 2px solid rgb(101, 230, 118);
    }

}